In [4]:
import pandas as pd

In [5]:
ebola= pd.read_csv('country_timeseries.csv')

In [6]:
ebola_long = pd.melt(ebola, 
                    id_vars=['Date', 'Day'])

In [7]:
ebola_long.head()

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [8]:
'Cases_Guinea'.split('_')

['Cases', 'Guinea']

In [9]:
variable_split= ebola_long['variable'].str.split('_')

In [10]:
variable_split

0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
             ...
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: variable, Length: 1952, dtype: object

In [11]:
type(variable_split)

pandas.core.series.Series

In [13]:
type(variable_split[0])

list

In [14]:
(variable_split[0][0])

'Cases'

In [15]:
type(variable_split[0][0])

str

In [16]:
variable_split.str.get(0)

0        Cases
1        Cases
2        Cases
3        Cases
4        Cases
         ...
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, Length: 1952, dtype: object

In [17]:
variable_split.str.get(1)

0       Guinea
1       Guinea
2       Guinea
3       Guinea
4       Guinea
         ...
1947      Mali
1948      Mali
1949      Mali
1950      Mali
1951      Mali
Name: variable, Length: 1952, dtype: object

In [18]:
ebola_long['stats']= variable_split.str.get(0)
ebola_long['country']= variable_split.str.get(1)

In [19]:
ebola_long.head()

         Date  Day      variable   value  stats country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [21]:
ebola_long[['stats_e','country_e']]= ebola_long['variable'].str.split('_', expand=True)

In [22]:
ebola_long.head()

         Date  Day      variable   value  stats country stats_e country_e
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea   Cases    Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea   Cases    Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea   Cases    Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea   Cases    Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea   Cases    Guinea